
.click {
	@media only screen and (any-hover: hover) {
		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}
	}
	&:active { opacity: 0.4; }
}

.click-soft {
	transition: opacity .2s;
	@media only screen and (any-hover: hover) {
		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
	}
	&:active { opacity: 0.65; }
}

.click-hard {
	transition: opacity .2s;
	@media only screen and (any-hover: hover) {
		&:hover {
			cursor: pointer;
			opacity: 0.5;
		}
	}
	&:active { opacity: 0.2; }
}

.click-color {
	transition: background-color .1s ease-in, border .6s ease-in-out;
	@media only screen and (any-hover: hover) {
		&:hover {
			cursor: pointer;
			background-color: transparent;
		}
	}
	&:active {
		opacity: .8;
		background-color:var(--back-marked);
		border-color: var(--border-marked);
	}
}

.click-color-noback {
	transition: background-color .1s ease-in, border .4s ease-in-out;
	@media only screen and (any-hover: hover) {
		&:hover {
			cursor: pointer;
			border-color: var(--border-marked);
		}
	}
	&:active {
		opacity: .8;
		background-color:var(--back-marked);
		border-color: var(--border-marked);
		border-style: solid;
	}
}

@keyframes size-pop {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}
.anim-size-pop {
	animation: .5s ease-in-out both size-pop;
}
.anim-size-pop-delay {
	animation: .3s ease-in-out .7s both size-pop;
}

@keyframes slide-left {
	0% { transform: translateX(-250px); opacity: 0; }
	100% { transform: translateX(0px); opacity: 1; }
}
.anim-slide-left {
	animation: .5s ease-in-out both slide-left;
}
.anim-slide-left-delay {
	animation: .5s ease-in-out .7s both slide-left;
}

@keyframes slide-down {
	0% { transform: translateY(-250px); opacity: 0; }
	100% { transform: translateY(0px); opacity: 1; }
}
.anim-slide-down {
	animation: .5s ease-in-out both slide-down;
}
.anim-slide-down-delay {
	animation: .5s ease-in-out .7s both slide-down;
}

@keyframes slide-up {
	0% { transform: translateY(250px); opacity: 0; }
	100% { transform: translateY(0px); opacity: 1; }
}
.anim-slide-up {
	animation: .5s ease-in-out both slide-up;
}
.anim-slide-up-delay {
	animation: .5s ease-in-out .7s both slide-up;
}

