
:root {
	--text-normal: #f1f1f1;
	--text-dark: #c2c2c2;

	--back-normal: #0e0e0e;
	--back-light: #181818;
	--back-dark: #070707;

	--border-normal: #bebebe;
	--border-marked: #4747d3;
	--border-shadow: #303091;
}
